{% extends 'base_referent.html.twig' %}

{% block title %}Plan des salles{% endblock %}

{% block body %}
    <div id="top_div">
        <h1>Plan des batiments</h1>
        <select id="dropdown" onchange="showDiv()">
            <option value="rdc" selected>Rez-de-chaussé</option>
            <option value="floor1">1ere étage</option>
            <option value="floor2">2eme étage</option>
            <option value="floor3">3eme étage</option>
        </select>
    </div>

    <div id="plan">
        <!-- REZ-DE-CHAUSSÉ -->
        <div id="rdc" class="batiment" style="display: flex">
            <div class="rangee">
                {% for room in roomRDC %}
                    <!--DETERMINER LA RANGÉE-->
                    {% set roomNumber = room.name | slice(-1) %}  <!--extrait le dernier chiffre du numero de la salle-->
                    <!--DETERMINER LA COULEUR-->
                    {% if room.sa is not null %}
                        {% if room.sa.getState == 'ACTIF' %}
                            {% set roomColorClass = 'green'%}
                        {% elseif room.sa.getState == 'MAINTENANCE' %}
                            {% set roomColorClass = 'red'%}
                        {% elseif room.sa.getState == 'A_INSTALLER' %}
                            {% set roomColorClass = 'orange'%}
                        {% endif%}
                    {% else%}
                        {% set roomColorClass = '#d6dfe8'%}
                    {% endif%}
                    <!--AFFICHAGE-->
                    {% if roomNumber is odd %}
                    <div class="plan_salle" style="background-color: {{ roomColorClass }}">
                        <h2>{{ room.name }}</h2>
                        {% if room.sa is not null %}
                            <h2>{{ room.sa.name }}</h2>
                        {% endif%}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="rangee">
                {% for room in roomRDC %}
                    <!--DETERMINER LA RANGÉE-->
                    {% set roomNumber = room.name | slice(-1) %}  <!--extrait le dernier chiffre du numero de la salle-->
                    <!--DETERMINER LA COULEUR-->
                    {% if room.sa is not null %}
                        {% if room.sa.getState == 'ACTIF' %}
                            {% set roomColorClass = 'green'%}
                        {% elseif room.sa.getState == 'MAINTENANCE' %}
                            {% set roomColorClass = 'red'%}
                        {% elseif room.sa.getState == 'A_INSTALLER' %}
                            {% set roomColorClass = 'orange'%}
                        {% endif%}
                    {% else%}
                        {% set roomColorClass = '#d6dfe8'%}
                    {% endif%}
                    {% if roomNumber is not odd %}
                        <div class="plan_salle" style="background-color: {{ roomColorClass }}">
                            <h2>{{ room.name }}</h2>
                            {% if room.sa is not null %}
                                <h2>{{ room.sa.name }}</h2>
                            {% endif%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- 1ERE ÉTAGE -->
        <div id="floor1" class="batiment">
            <div class="rangee">
                {% for room in roomFloor1 %}
                    <!--DETERMINER LA RANGÉE-->
                    {% set roomNumber = room.name | slice(-1) %}  <!--extrait le dernier chiffre du numero de la salle-->
                    <!--DETERMINER LA COULEUR-->
                    {% if room.sa is not null %}
                        {% if room.sa.getState == 'ACTIF' %}
                            {% set roomColorClass = 'green'%}
                        {% elseif room.sa.getState == 'MAINTENANCE' %}
                            {% set roomColorClass = 'red'%}
                        {% elseif room.sa.getState == 'A_INSTALLER' %}
                            {% set roomColorClass = 'orange'%}
                        {% endif%}
                    {% else%}
                        {% set roomColorClass = '#d6dfe8'%}
                    {% endif%}
                    <!--AFFICHAGE-->
                    {% if roomNumber is odd %}
                        <div class="plan_salle" style="background-color: {{ roomColorClass }}">
                            <h2>{{ room.name }}</h2>
                            {% if room.sa is not null %}
                                <h2>{{ room.sa.name }}</h2>
                            {% endif%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="rangee">
                {% for room in roomFloor1 %}
                    <!--DETERMINER LA RANGÉE-->
                    {% set roomNumber = room.name | slice(-1) %}  <!--extrait le dernier chiffre du numero de la salle-->
                    <!--DETERMINER LA COULEUR-->
                    {% if room.sa is not null %}
                        {% if room.sa.getState == 'ACTIF' %}
                            {% set roomColorClass = 'green'%}
                        {% elseif room.sa.getState == 'MAINTENANCE' %}
                            {% set roomColorClass = 'red'%}
                        {% elseif room.sa.getState == 'A_INSTALLER' %}
                            {% set roomColorClass = 'orange'%}
                        {% endif%}
                    {% else%}
                        {% set roomColorClass = '#d6dfe8'%}
                    {% endif%}
                    {% if roomNumber is not odd %}
                        <div class="plan_salle" style="background-color: {{ roomColorClass }}">
                            <h2>{{ room.name }}</h2>
                            {% if room.sa is not null %}
                                <h2>{{ room.sa.name }}</h2>
                            {% endif%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- 2EME ÉTAGE -->
        <div id="floor2" class="batiment">
            <div class="rangee">
                {% for room in roomFloor2 %}
                    <!--DETERMINER LA RANGÉE-->
                    {% set roomNumber = room.name | slice(-1) %}  <!--extrait le dernier chiffre du numero de la salle-->
                    <!--DETERMINER LA COULEUR-->
                    {% if room.sa is not null %}
                        {% if room.sa.getState == 'ACTIF' %}
                            {% set roomColorClass = 'green'%}
                        {% elseif room.sa.getState == 'MAINTENANCE' %}
                            {% set roomColorClass = 'red'%}
                        {% elseif room.sa.getState == 'A_INSTALLER' %}
                            {% set roomColorClass = 'orange'%}
                        {% endif%}
                    {% else%}
                        {% set roomColorClass = '#d6dfe8'%}
                    {% endif%}
                    <!--AFFICHAGE-->
                    {% if roomNumber is odd %}
                        <div class="plan_salle" style="background-color: {{ roomColorClass }}">
                            <h2>{{ room.name }}</h2>
                            {% if room.sa is not null %}
                                <h2>{{ room.sa.name }}</h2>
                            {% endif%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="rangee">
                {% for room in roomFloor2 %}
                    <!--DETERMINER LA RANGÉE-->
                    {% set roomNumber = room.name | slice(-1) %}  <!--extrait le dernier chiffre du numero de la salle-->
                    <!--DETERMINER LA COULEUR-->
                    {% if room.sa is not null %}
                        {% if room.sa.getState == 'ACTIF' %}
                            {% set roomColorClass = 'green'%}
                        {% elseif room.sa.getState == 'MAINTENANCE' %}
                            {% set roomColorClass = 'red'%}
                        {% elseif room.sa.getState == 'A_INSTALLER' %}
                            {% set roomColorClass = 'orange'%}
                        {% endif%}
                    {% else%}
                        {% set roomColorClass = '#d6dfe8'%}
                    {% endif%}
                    {% if roomNumber is not odd %}
                        <div class="plan_salle" style="background-color: {{ roomColorClass }}">
                            <h2>{{ room.name }}</h2>
                            {% if room.sa is not null %}
                                <h2>{{ room.sa.name }}</h2>
                            {% endif%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- 3EME ÉTAGE -->
        <div id="floor3" class="batiment">
            <div class="rangee">
                {% for room in roomFloor3 %}
                    <!--DETERMINER LA RANGÉE-->
                    {% set roomNumber = room.name | slice(-1) %}  <!--extrait le dernier chiffre du numero de la salle-->
                    <!--DETERMINER LA COULEUR-->
                    {% if room.sa is not null %}
                        {% if room.sa.getState == 'ACTIF' %}
                            {% set roomColorClass = 'green'%}
                        {% elseif room.sa.getState == 'MAINTENANCE' %}
                            {% set roomColorClass = 'red'%}
                        {% elseif room.sa.getState == 'A_INSTALLER' %}
                            {% set roomColorClass = 'orange'%}
                        {% endif%}
                    {% else%}
                        {% set roomColorClass = '#d6dfe8'%}
                    {% endif%}
                    <!--AFFICHAGE-->
                    {% if roomNumber is odd %}
                        <div class="plan_salle" style="background-color: {{ roomColorClass }}">
                            <h2>{{ room.name }}</h2>
                            {% if room.sa is not null %}
                                <h2>{{ room.sa.name }}</h2>
                            {% endif%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="rangee">
                {% for room in roomFloor3 %}
                    <!--DETERMINER LA RANGÉE-->
                    {% set roomNumber = room.name | slice(-1) %}  <!--extrait le dernier chiffre du numero de la salle-->
                    <!--DETERMINER LA COULEUR-->
                    {% if room.sa is not null %}
                        {% if room.sa.getState == 'ACTIF' %}
                            {% set roomColorClass = 'green'%}
                        {% elseif room.sa.getState == 'MAINTENANCE' %}
                            {% set roomColorClass = 'red'%}
                        {% elseif room.sa.getState == 'A_INSTALLER' %}
                            {% set roomColorClass = 'orange'%}
                        {% endif%}
                    {% else%}
                        {% set roomColorClass = '#d6dfe8'%}
                    {% endif%}
                    {% if roomNumber is not odd %}
                        <div class="plan_salle" style="background-color: {{ roomColorClass }}">
                            <h2>{{ room.name }}</h2>
                            {% if room.sa is not null %}
                                <h2>{{ room.sa.name }}</h2>
                            {% endif%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        function showDiv() {
            // Récupère la valeur sélectionnée dans le dropdown
            let selectedValue = document.getElementById("dropdown").value;

            // Cache toutes les divs
            let divs = document.querySelectorAll('.batiment');
            divs.forEach(function(div) {
                div.style.display = 'none';
            });

            // Affiche la div correspondante à l'option sélectionnée
            document.getElementById(selectedValue).style.display = 'flex';

            // Appeler showDiv() lors du chargement de la page pour afficher la première div par défaut
            document.addEventListener('DOMContentLoaded', function() {
                showDiv();
            });
        }
    </script>

{% endblock %}