{% extends 'base.html.twig' %}


{% block body %}
    <section class="bandeau_ref">
        <div class="pres_page">

            <div class="buttonPresPage">
                <a id="saButton" href="{{ path("nouveau_SA") }}">Ajouter un nouveau SA</a>
            </div>
            <div class="buttonPresPage">
                <a id="saButton" href="{{ path("nouveau_SA") }}">Plan des salles</a>
            </div>
            <div class="buttonPresPage">
                <a id="saButton" href="{{ path("nouveau_SA") }}">Informations</a>
            </div>

        </div>

    </section>
    <section id="liste_salle">
        <ul class="block_sa">
            <h1>Plan d'action</h1>
            {% for sa in planAction %}
                <a href="{{ path('app_view_sa', {'id': sa.getId}) }}">
                    <li class="listSA"> <!-- UN <LI></LI> = UNE LIGNE : ajouter les elements À L'INTERIEUR du li. Le webdesigner. -->
                        <span class="sa_info"> {% if sa.state == 'A_INSTALLER' %}🟠 {% elseif sa.state == 'ACTIF' %}🟢 {% elseif sa.state == 'MAINTENANCE' %}🔴 {% endif %}{{ sa.name }} {{ sa.currentRoom.name }}</span>
                        <a href="{{ path('changer_salle_sa', {'id': sa.getId}) }}">Changer la salle</a>
                        <a href="{{ path('delete_sa', {'id': sa.getId}) }}">Supprimer</a>
                    </li>
                </a>
            {% endfor %}
            <p id="test"></p>
        </ul>
        <ul class="block_sa">
            <h1>SA disponibles</h1>
            {% for sa in inactive %}
                <li>
                    {{ sa.name }}
                    <a href="{{ path('changer_salle_sa', {'id': sa.getId}) }}">Affecter à une salle</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}