{% extends 'base.html.twig' %}


{% block body %}
    <section class="bandeau_ref">
        <div class="pres_page">

            <div class="buttonPresPage">
                <a id="saButton" href="{{ path("nouveau_SA") }}">Ajouter un nouveau SA</a>
            </div>
            <div class="buttonPresPage">
                <a id="saButton" href="{{ path("nouveau_SA") }}">Plan des salles</a>
            </div>
            <div class="buttonPresPage">
                <a id="saButton" href="{{ path("nouveau_SA") }}">Informations</a>
            </div>

        </div>
    </section>
    <section id="liste_salle">
        <ul class="block_sa">
            <h1>Plan d'action</h1>
            <div id="filter">
                <button class="btn active" onclick="filtre('all')">Tous</button>
                <button class="btn" onclick="filtre('actif')">Actif</button>
                <button class="btn" onclick="filtre('maintenance')">Maintenance</button>
                <button class="btn" onclick="filtre('installer')">A Installer</button>
            </div>
            <div>
                {% for sa in maintenance %}
                    <a id="view" href="{{ path('app_view_sa', {'id': sa.getId}) }}">
                        <div class="listSA maintenance"> <!-- UN <LI></LI> = UNE LIGNE : ajouter les elements À L'INTERIEUR du li. Le webdesigner. -->
                            🔴{{ sa.currentRoom.name }}
                            <a href="{{ path('changer_salle_sa', {'id': sa.getId}) }}">Changer la salle</a>
                            <a href="{{ path('delete_sa', {'id': sa.getId}) }}">Supprimer</a>
                        </div>
                    </a>
                {% endfor %}
                {% for sa in installer %}
                    <a id="view" href="{{ path('app_view_sa', {'id': sa.getId}) }}">
                        <div class="listSA installer"> <!-- UN <LI></LI> = UNE LIGNE : ajouter les elements À L'INTERIEUR du li. Le webdesigner. -->
                            🟠{{ sa.currentRoom.name }}
                            <a href="{{ path('changer_salle_sa', {'id': sa.getId}) }}">Changer la salle</a>
                            <a href="{{ path('delete_sa', {'id': sa.getId}) }}">Supprimer</a>
                        </div>
                    </a>
                {% endfor %}
                {% for sa in actif %}
                    <a id="view" href="{{ path('app_view_sa', {'id': sa.getId}) }}">
                        <div class="listSA actif"> <!-- UN <LI></LI> = UNE LIGNE : ajouter les elements À L'INTERIEUR du li. Le webdesigner. -->
                            🟢{{ sa.currentRoom.name }}
                            <a href="{{ path('changer_salle_sa', {'id': sa.getId}) }}">Changer la salle</a>
                            <a href="{{ path('delete_sa', {'id': sa.getId}) }}">Supprimer</a>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </ul>
        <ul class="block_sa">
            <h1>SA disponibles</h1>
            <div>
                {% for sa in inactive %}
                    <div class="listSAInactif">
                        ⚫ {{ sa.name }}
                        <a href="{{ path('changer_salle_sa', {'id': sa.getId}) }}">Affecter à une salle</a>
                        <a href="{{ path('delete_sa_base', {'id': sa.getId}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer le SA {{ sa.name }}?')"><img id="trash_can" src="{{ asset('images/trash_can.svg') }}" alt="trash_can" height="5%" width="5%"></a>
                    </div>
                {% endfor %}
            </div>
        </ul>
    </section>
    <script>
        document.querySelectorAll('.listSA').forEach(card => {
            card.addEventListener('click', () => {
                window.location.href = card.querySelector("#view").href;
            });
        });
        function filtre(c) {
            var x, i;
            x = document.getElementsByClassName("listSA");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                removeClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1){
                    addClass(x[i], "show");

                }
            }
        }


        function addClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }
        function removeClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }
        filtre('all')

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("filter");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
{% endblock %}