{% extends 'base.html.twig' %}


{% block body %}
    <section class="bandeau_ref">
        <div class="pres_page">
            <h1>Bonjour référent</h1>
            <p>Vous vous trouvez sur la page d'accueil de l'espace référent. Vous pouvez y retrouver l'ensemble de vos SA et y gérer votre plan d'action en gérant les différents SA</p>
            <p>🟢 Actif 🟠 A Installer 🔴 Maintenance ⚫ Inactif</p>
        </div>
        <div class="addSAButton">
            <a id="saButton" href="{{ path("nouveau_SA") }}">Ajouter un nouveau SA</a>
        </div>
    </section>
    <section id="liste_salle">
        <ul class="block_sa">
            <h1>Plan d'action</h1>
            {% for sa in planAction %}
                <li class="listSA">
                    <span class="sa_info"> {% if sa.state == 'A_INSTALLER' %}🟠 {% elseif sa.state == 'ACTIF' %}🟢 {% elseif sa.state == 'MAINTENANCE' %}🔴 {% endif %}{{ sa.name }} {{ sa.currentRoom.name }}</span>
                    <li><a href="{{ path('changer_salle_sa', {'id': sa.getId}) }}">Changer la salle</a></li>
                    <li><a href="{{ path('delete_sa', {'id': sa.getId}) }}">Supprimer</a></li>
                    <li><a href="{{ path('app_view_sa', {'id': sa.getId}) }}">Infos</a></li>
                    <br/>
                </li>
            {% endfor %}
            <p id="test"></p>
        </ul>
        <ul class="block_sa">
            <h1>SA disponibles</h1>
            {% for sa in inactive %}
                <li>{{ sa.name }}</li>
                <li><a href="{{ path('changer_salle_sa', {'id': sa.getId}) }}">Affecter à une salle</a></li>
                <br/>
            {% endfor %}
        </ul>
    </section>
{% endblock %}