{% extends 'base_referent.html.twig' %}


{% block body %}

    <link rel="stylesheet" href="{{ asset('referent.css') }}">

    <section id="liste_salle">
        <ul class="block_sa">
            <h1>Plan d'action</h1>
            <div id="filter">
                <button class="btn active" onclick="filtre('all')">Tous</button>
                <button class="btn" onclick="filtre('actif')">Actif</button>
                <button class="btn" onclick="filtre('maintenance')">Maintenance</button>
                <button class="btn" onclick="filtre('installer')">Installation</button>
            </div>
            <div>
                {% for sa in maintenance %}

                    <div class="listSA maintenance">
                        <div  id="left" class="caseListSA">
                            🔴 {{ sa.name }}
                            <img onclick="openSAPage({{ sa.id }})" id="sa_data" src="{{ asset('images/data-center-table-management.png') }}" alt="trash_can" height="35px" width="35px">
                        </div>
                        <div id="center"  class="caseListSA roomCase">
                            {{ sa.currentRoom.name }}
                        </div>
                        <div id="center"  class="caseListSA saForm">
                            <a href="{{ path('delete_sa', {'id': sa.getId}) }}"><span class="retirer_room_btn">Retirer</span></a>
                        </div>
                    </div>

                {% endfor %}
                {% for sa in installer %}
                    <div class="listSA installer">
                        <div id="left" class="caseListSA">
                            🟠 {{ sa.name }}
                            <img onclick="openSAPage({{ sa.id }})" id="sa_data" src="{{ asset('images/data-center-table-management.png') }}" alt="trash_can" >
                        </div>
                        <div id="center" class="caseListSA roomCase">
                            {{ sa.currentRoom.name }}
                        </div>
                        <div id="center" class="caseListSA saForm">
                            <a href="{{ path('delete_sa', {'id': sa.getId}) }}"><span class="retirer_room_btn">Retirer</span></a>
                        </div>
                    </div>

                {% endfor %}
                {% for sa in actif %}
                        <div class="listSA actif" onclick="viewSa({{ sa.id }})">
                            <div id="left" class="caseListSA">
                                🟢 {{ sa.name }}
                                <img onclick="openSAPage({{ sa.id }})" id="sa_data" src="{{ asset('images/data-center-table-management.png') }}" alt="trash_can" height="35px" width="35px">
                            </div>
                            <div id="center"  class="caseListSA roomCase">
                                {{ sa.currentRoom.name }}
                            </div>
                            <div id="center"  class="caseListSA saForm">
                                {{ form_start(forms[loop.index0],{'attr': {'id': 'form_changer_salle'}}) }}
                                {{ form_widget(forms[loop.index0].newRoom,{'attr': {'onChange': 'openPopup("popupCS'~ sa.id ~ '")', 'id':'dropdown'},'placeholder' : 'Changer la salle'})}}
                                {{ form_row(forms[loop.index0].sa_id, {'value': sa.id}) }}
                                <div id="popupCS{{ sa.id }}" class="popup">
                                    <div class="popup-content">
                                        <span class="close" onclick="closePopup('popupCS{{ sa.id }}')">&times;</span>
                                        <span>Voullez-vous vraiment changer la salle de ce système d'acquisition {{ sa.name }}</span>
                                        <div>
                                            <button id="non" type="button" onclick="closePopup('popupCS{{ sa.id }}')">Non</button>
                                            {{ form_widget(forms[loop.index0].save) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(forms[loop.index0]) }}
                            </div>
                        </div>
                {% endfor %}
            </div>
        </ul>
        <ul class="block_sa" id="blockSA">
            <h1>SA disponibles</h1>
            <div>
                {% for sa in inactive %}
                    <div class="listSAInactif">
                        <div id="left" class="caseListSA">
                            ⚫ {{ sa.name }}
                        </div>
                        <div id="center" class="caseListSA saForm">
                            {{ form_start(forms[loop.index0 + countFormActive],{'attr': {'id': 'form_changer_salle'}}) }}
                            {{ form_widget(forms[loop.index0 + countFormActive].newRoom,{'attr': {'onChange': 'openPopup("popupAS'~ sa.id ~ '")', 'id':'dropdown'}, 'placeholder' : 'Assigner une salle'})}}
                            {{ form_row(forms[loop.index0 + countFormActive].sa_id, {'value': sa.id}) }}
                            <div id="popupAS{{ sa.id }}" class="popup">
                                <div class="popup-content">
                                    <span class="close" onclick="closePopup('popupAS{{ sa.id }}')">&times;</span>
                                    <span>Veuillez confirmer l'assignation{{ sa.name }}</span>
                                    <div>
                                        <button id="non" type="button" onclick="closePopup('popupAS{{ sa.id }}')">Non</button>
                                        {{ form_widget(forms[loop.index0 + countFormActive].save) }}
                                    </div>
                                </div>
                            </div>
                            {{ form_end(forms[loop.index0 + countFormActive]) }}
                        </div>
                        <div id="right" class="caseListSA roomCase">
                            <a href="{{ path('delete_sa_base', {'id': sa.getId}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer le SA {{ sa.name }}?')">
                                <img id="trash_can" src="{{ asset('images/trash_can.png') }}" alt="trash_can" height="47px" width="47px">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </ul>
    </section>
    <script>

        /*
        document.querySelectorAll('.listSA').forEach(card => {
            card.addEventListener('click', () => {
                window.location.href = card.querySelector("#view").href;
            });
        });*/
        function filtre(c) {
            var x, i;
            x = document.getElementsByClassName("listSA");
            if (c === "all") c = "";
            for (i = 0; i < x.length; i++) {
                removeClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1){
                    addClass(x[i], "show");
                }
            }
        }

        function addClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) === -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        function removeClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }
        filtre('all')

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("filter");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }

        function openPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
            window.location.href = '/referent';
        }

        function openSAPage(saID){
            window.location.href = '/referent/sa/' + saID;
        }


    </script>
{% endblock %}