{% extends 'base.html.twig' %}


{% block body %}
    <div class="fse">
        <p> {{ nom }}</p>
        <p>{{ salle }}</p>
        {% if etat == 'A_INSTALLER' %}
            <p>🟠 A Installer</p>
        {% elseif etat == 'ACTIF' %}
            <p>🟢 Actif</p>
        {% elseif etat == 'MAINTENANCE' %}
            <p>🔴 Maintenance</p>
        {% endif %}
        <p><a href="{{ path("app_referent") }}">Retour</a></p>
    </div>
    {% if etat == 'ACTIF' %}
        <section id="mainsection">
            <aside>
                <div class="pSAr">
                    {{ form_start(form) }}
                    <div id="form_header">
                        <h1>Demande de Maintenance</h1>
                    </div>
                    <div class="form_line">
                        {{ form_widget(form.message) }}
                    </div>
                    <div id="submit_btn">
                        <button type="submit" onclick="return confirm('Voulez-vous démarrer une maintenance pour le SA {{ nom }}?')">Envoyer</button>
                    </div>

                    {{ form_end(form) }}
                </div>
                <div class="pSAr">
                    Right bottom
                </div>
            </aside>
            <section id="left">
                <div class="pSAl">Left</div>
            </section>
        </section>
    {% else %}
        <section id="mainsection">
            <div class="centre">
                <img src="{{ asset('images/noWifi.png') }}" alt="no data">
                <p>Aucun donnée disponible</p>
            </div>
        </section>
    {% endif %}

{% endblock %}