{% extends 'base_technicien.html.twig' %}


{% block body %}

        <section class="bandeau_tech">
            <div class="pres_page">
                Vous êtes sur l'espace technicien. Vous pouvez consulter l'ensemble de vos interventions et les valider.
            </div>
        </section>

        <section id="liste_interventions">
            <ul class="block_interv">
                <h1>Installation(s) en attente</h1>
                <div>
                    {% if installations %}
                    {% for install in installations %}
                        <a id="view" href="{{ path('app_view_installation', {'id': install.id}) }}">
                            <div class="listIntervention">
                                <div class="caseBlockInterv" id="leftSide">
                                    <img src="{{ asset('images/processor.png') }}">
                                    {{ install.sa.name }}
                                </div>
                                <div class="caseBlockInterv" id="rightSide">
                                    <img src="{{ asset('images/door.png') }}">
                                    {% if install.sa.getOldRoom is null%}
                                        {{ install.sa.getCurrentRoom.name }}
                                    {% else %}
                                        {{ install.sa.getOldRoom.name }} vers {{ install.sa.getCurrentRoom.getName }}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    {% endif %}
                </div>
            </ul>
            <ul class="block_interv">
                <h1>Maintenance(s) en attente</h1>
                <div>
                    {% for maintenance in maintenances %}
                        <a id="view" href="{{ path('app_view_maintenance', {'id': maintenance.id}) }}">
                            <div class="listIntervention">
                                <div class="caseBlockInterv" id="leftSide">
                                    <img src="{{ asset('images/processor.png') }}">
                                    {{ maintenance.sa.name }}
                                </div>
                                <div class="caseBlockInterv" id="rightSide">
                                    <img src="{{ asset('images/door.png') }}">
                                    {{ maintenance.sa.getCurrentRoom.name }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </ul>
        </section>
{% endblock %}
