{% extends 'base_technicien.html.twig' %}


{% block title %}Maintenance{% endblock %}

{% block body %}
    <link rel="stylesheet" href={{ asset('tech_maintenance.css') }}>
    <div id="div_sa_info">
        <div class="imgANDtext">
            <img src="{{ asset('images/door.png') }}">
            <span>  {{ curSA.name }} </span>
        </div>
        <div class="imgANDtext">
            <img src="{{ asset('images/processor.png') }}">
            <span> {{ curSA.currentRoom.name }} </span>
        </div>




        {% if maintenance.technicien == null%}
            <div>
                {{ form_start(form_assign) }}
                <div id="submit_btn">
                    <a id="maint" onclick="openPopup('popupCS')">M'assigner à cette intervention</a>
                    <div id="popupCS" class="popup">
                        <div class="popup-content">
                            <span class="close" onclick="closePopup('popupCS')">&times;</span>
                            <span>Veuillez confirmer votre assignation à cette intervention</span>
                            <div>
                                <button id="non" type="button" onclick="closePopup('popupCS')">Non</button>
                                {{ form_widget(form_assign.valid) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form_assign) }}
            </div>

        {% else  %}
            {% if maintenance.technicien == user%}
                <div class = "imgANDtext">
                    <div>
                         {{ maintenance.technicien.username }}
                    </div>
                    <div>
                        {{ form_start(form_unassign) }}
                        <div id="submit_btn">
                            <a  id="maint" onclick="openPopup('popupCS')">𝕏</a>
                            <div id="popupCS" class="popup">
                                <div class="popup-content">
                                    <span class="close" onclick="closePopup('popupCS')">x</span>
                                    <span>Veuillez confirmer votre retrait de cette intervention</span>
                                    <div>
                                        <button id="non" type="button" onclick="closePopup('popupCS')">Non</button>
                                        {{ form_widget(form_unassign.valid) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form_unassign) }}
                    </div>
                </div>
            {% else  %}
                <div>
                    <span> {{ maintenance.technicien.username }}</span>
                </div>
            {% endif %}
        {% endif %}






        <a href="{{ path("app_technicien") }}"><span>Retour</span></a>
    </div>
    {{ form_start(form_validMtn, {'attr' : {'id' : 'maintenance_form'}}) }}
    <div id="block_ref_msg">
        <div class="ref_msg">
            <h2>Indications du referent :</h2>
            <p>{{ maintenance.message }}</p>
        </div>
        <div class="ref_msg">
            <h2>Retour d'installation :</h2>
            <p>{{ form_widget(form_validMtn.report) }}</p>
        </div>
    </div>

    <div id="block_btns">
        {{ form_start(form_validMtn, {'attr' : {'id' : 'maintenance_form'}}) }}
        {{ form_widget(form_validMtn.valid) }}
        <button id="valid_btn" type="button" onclick="sendformulaire('true')">VALIDER LA MAINTENANCE</button>
        <button id="invalid_btn" type="button" onclick="sendformulaire('false')">MAINTENANCE IMPOSSIBLE</button>
    </div>
    <div>
        <span id="err_sub">Veuillez completer le rapport d'intervention</span>
    </div>
    {{ form_end(form_validMtn) }}
    <script>
        function sendformulaire(valid){
            let data = document.getElementById('maintenance_form_valid');
            let textareaContent = document.getElementById('maintenance_form_report').value;
            if(textareaContent.trim() !== ''){
                if(valid === 'true'){
                    data.value = 'true';
                }else{
                    data.value = 'false';
                }
                document.getElementById('maintenance_form').submit();
            }else{
                document.getElementById('err_sub').style.display = 'flex';
            }
        }


        function openPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
        }

            function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
        }
    </script>


{% endblock %}
