<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/leaf.png') }}">
    <!-- Fichier CSS -->
    <link rel="stylesheet" href="{{ asset('base.css') }}">
    <link rel="stylesheet" href="{{ asset('referent.css') }}">
    <link rel="stylesheet" href="{{ asset('technicien.css') }}">
    <link rel="stylesheet" href="{{ asset('detail_SA.css') }}">
    <link rel="stylesheet" href="{{ asset('plan.css') }}">
    <link rel="stylesheet" href="{{ asset('changerSalle.css') }}">
    <!-- Inclure les nouveaux fichier CSS ici -->

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header>
    <div id="nameAndlogo">
        <img id="leaf" src="{{ asset('images/leaf.png') }}" alt="leaf" height="50%" width="5%">
        <h1>SMART CAMPUS</h1>
    </div>
    <a href="{{ path("nouveau_SA") }}">Ajouter un nouveau SA</a>
    <a href="{{ path("plan_salles") }}">Plan des salles</a>
    <a onclick="alert('Actif : 🟢\nMaintenance : 🔴\nInstallation : 🟠\nInactif : ⚫')">Informations</a>
    <a id="logout" href="{{ path('login') }}">Deconnection</a>
</header>
{% block body %}{% endblock %}
</body>
</html>
