{% extends 'base_usager.html.twig' %}


{% block body %}
    <link rel="stylesheet" href={{ asset('usager.css') }}>
    <div id="presUsager">
        <h1>ESPACE USAGER</h1>
        {{ form_start(form, {'attr' : {'id' : 'room_choise_form'}}) }}
        {{ form_widget(form.room, {'attr': {'onChange': 'choiseRoom()'}}) }}
        {{ form_end(form) }}
    </div>
    {% if room is null %}
        <div id="contenuUsagerNoRoom">
            <div id="no_room">
                <h2>Bienvenue sur l'espace destiné aux usagers des batiments</h2>
                <span>Veuillez choisir la salle dans laquelle vous êtes pour continuer</span>
                <img src="{{ asset('images/map.png') }}">
            </div>
        </div>
    {% else %}
        <div id="contenuUsagerRoom">
            <div id="mainData">
                <div class="data">
                    <p>20.2 °C</p>
                </div>
                <div class="data">
                    <p>453 ppm</p>
                </div>
                <div class="data">
                    <p>7%</p>
                </div>
            </div>
            <div id="meteo">
                <p>Température : {{ meteo["current"]["temperature_2m"] }} °C</p><br/>
                {% set value = meteo["current"]["weather_code"] %}
                    {% if value == 0 %}
                        <p>Clear Sky</p>
                    {% elseif value ==  1 %}
                        <p>value is "value2"</p>
                    {% elseif value == 2 %}
                        <p>value is "value2"</p>
                    {% elseif value == 3 %}
                        <p>value is "value3" or "value4"</p>
                    {% elseif value == 3 %}
                    {% elseif value == 45 %}
                    {% elseif value == 48 %}
                    {% elseif value == 51 %}
                    {% elseif value == 53 %}
                    {% elseif value == 55 %}
                    {% elseif value == 56 %}
                    {% elseif value == 57 %}
                    {% elseif value == 61 %}
                    {% elseif value == 63 %}
                    {% elseif value == 65 %}
                    {% elseif value == 66 %}
                    {% elseif value == 67 %}
                    {% elseif value == 71 %}
                    {% elseif value == 73 %}
                    {% elseif value == 75 %}
                    {% elseif value == 77 %}
                    {% elseif value == 80 %}
                    {% elseif value == 81 %}
                    {% elseif value == 82 %}
                    {% elseif value == 85 %}
                    {% elseif value == 86 %}
                    {% elseif value == 95 %}
                    {% elseif value == 96 %}
                    {% elseif value == 99 %}
                    {% else %}
                        <p>Unknown Weater !</p>
                    {% endif %}
                <p>CO2 : yeet</p><br/>
                <p>Humidité : yeet</p>
            </div>
            <div id="advice">
                <p>Mes Conseils</p>
            </div>
        </div>
    {% endif %}
    <script>
        function choiseRoom(){
            document.getElementById('room_choise_form').submit();
        }
    </script>

{% endblock %}
